dist: trusty
sudo: false
language: generic
services:
  - docker
script: ./test-build.sh $NODE_VERSION $VARIANT
stages:
  - Test
  - Build
  - name: Deploy
    if: branch = master AND type IN (push)
jobs:
  include:
    - stage: Test
      env:
        - TEST: Markdown link check
      language: node_js
      node_js:
        - lts/*
      install:
        - npm i -g markdown-link-check
      script:
        - 'find . -name "*.md" -exec markdown-link-check {} \;'
    - stage: Test
      env:
        - TEST: shfmt check
      script:
        - >-
          docker run -it --rm -v "$(pwd)":/sh -w /sh peterdavehello/shfmt:2.5.0
          shfmt -sr -i 2 -l -w -ci .
        - git diff --color
        - git diff --stat=220 --color --exit-code
    - stage: Test
      env:
        - TEST: Shell Check
      script: shellcheck *.sh
    - stage: Test
      env:
        - TEST: NPM test
      language: node_js
      node_js:
        - '10'
      script:
        - npm test
        - git diff --stat --exit-code
    - stage: Deploy
      script: ./generate-stackbrew-pr.sh
    - stage: Build
      env:
        - NODE_VERSION: '10'
        - VARIANT: alpine
    - stage: Build
      env:
        - NODE_VERSION: '10'
        - VARIANT: jessie
    - stage: Build
      env:
        - NODE_VERSION: '10'
        - VARIANT: slim
    - stage: Build
      env:
        - NODE_VERSION: '10'
        - VARIANT: stretch
    - stage: Build
      env:
        - NODE_VERSION: '6'
        - VARIANT: alpine
    - stage: Build
      env:
        - NODE_VERSION: '6'
        - VARIANT: jessie
    - stage: Build
      env:
        - NODE_VERSION: '6'
        - VARIANT: onbuild
    - stage: Build
      env:
        - NODE_VERSION: '6'
        - VARIANT: slim
    - stage: Build
      env:
        - NODE_VERSION: '6'
        - VARIANT: stretch
    - stage: Build
      env:
        - NODE_VERSION: '8'
        - VARIANT: alpine
    - stage: Build
      env:
        - NODE_VERSION: '8'
        - VARIANT: jessie
    - stage: Build
      env:
        - NODE_VERSION: '8'
        - VARIANT: onbuild
    - stage: Build
      env:
        - NODE_VERSION: '8'
        - VARIANT: slim
    - stage: Build
      env:
        - NODE_VERSION: '8'
        - VARIANT: stretch
    - stage: Build
      env:
        - NODE_VERSION: chakracore/10
        - VARIANT: default
    - stage: Build
      env:
        - NODE_VERSION: chakracore/8
        - VARIANT: default
